In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/Users/ankitbhardwaj/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [13]:
covid_dataset = pd.read_csv('covidz-data.csv')

In [37]:
covid_dataset

,Patient Number,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Current Status,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes
0,1,KL-TS-P1,30/01/2020,NaN,20,F,Thrissur,Thrissur,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan
1,2,KL-AL-P1,02/02/2020,NaN,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan
2,3,KL-KS-P1,03/02/2020,NaN,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan
3,4,DL-P1,02/03/2020,NaN,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,Recovered,"Travelled from Austria, Italy",NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria
4,5,TS-P1,02/03/2020,NaN,24,M,Hyderabad,Hyderabad,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27886,27887,NaN,26/04/2020,NaN,NaN,NaN,NaN,NaN,Delhi,DL,Hospitalized,Details awaited,NaN,NaN,NaN,26/04/2020,https://twitter.com/ANI/status/125445350902774...,NaN,NaN,NaN
27887,27888,NaN,26/04/2020,NaN,NaN,NaN,NaN,NaN,Uttarakhand,UT,Hospitalized,Details awaited,NaN,NaN,NaN,26/04/2020,https://t.me/indiacovid/3303,NaN,NaN,NaN
27888,27889,NaN,26/04/2020,NaN,12,F,NaN,Munger,Bihar,BR,Hospitalized,Details awaited,NaN,NaN,NaN,26/04/2020,https://twitter.com/sanjayjavin/status/1254467...,NaN,NaN,NaN
27889,27890,NaN,26/04/2020,NaN,13,F,NaN,Munger,Bihar,BR,Hospitalized,Details awaited,NaN,NaN,NaN,26/04/2020,https://twitter.com/sanjayjavin/status/1254467...,NaN,NaN,NaN
27890,27891,NaN,26/04/2020,NaN,17,F,NaN,Munger,Bihar,BR,Hospitalized,Details awaited,NaN,NaN,NaN,26/04/2020,https://twitter.com/sanjayjavin/status/1254467...,NaN,NaN,NaN

In [39]:
covid_dataset.count()

Patient Number                               27891
State Patient Number                          2997
Date Announced                               27891
Estimated Onset Date                             0
Age Bracket                                   2346
Gender                                        5313
Detected City                                 2347
Detected District                            20246
Detected State                               27890
State code                                   27890
Current Status                               27891
Notes                                        26555
Contracted from which Patient (Suspected)     1563
Nationality                                   2707
Type of transmission                          2990
Status Change Date                           27780
Source_1                                     27507
Source_2                                      3873
Source_3                                       452
Backup Notes                                   361
dtype: int64

In [46]:
df = covid_dataset.loc[covid_dataset["Detected District"] =='Chennai']

In [47]:
df[['Patient Number', 'Date Announced', 'Age Bracket', ]]

       Patient Number Date Announced Age Bracket
153               154     18/03/2020          20
180               181     19/03/2020          21
302               303     21/03/2020          65
394               395     22/03/2020          64
491               500     23/03/2020          25
...               ...            ...         ...
26553           26554     26/04/2020          24
26554           26555     26/04/2020          52
26555           26556     26/04/2020          25
26556           26557     26/04/2020          51
26557           26558     26/04/2020          56

[528 rows x 3 columns]

In [55]:
df_count= df.groupby('Date Announced').count()

In [62]:
df_count[['Patient Number']].sort_values('Patient Number', ascending=False)

                Patient Number
Date Announced
21/04/2020                  55
24/04/2020                  52
19/04/2020                  50
25/04/2020                  43
07/04/2020                  39
03/04/2020                  35
26/04/2020                  28
23/04/2020                  27
02/04/2020                  20
20/04/2020                  18
12/04/2020                  18
06/04/2020                  15
22/04/2020                  15
17/04/2020                  11
11/04/2020                  10
10/04/2020                   9
13/04/2020                   9
08/04/2020                   7
09/04/2020                   7
05/04/2020                   7
18/04/2020                   7
04/04/2020                   7
24/03/2020                   5
14/04/2020                   5
30/03/2020                   5
15/04/2020                   5
31/03/2020                   4
16/04/2020                   3
27/03/2020                   2
26/03/2020                   2
28/03/2020                   1
01/04/2020                   1
25/03/2020                   1
23/03/2020                   1
22/03/2020                   1
21/03/2020                   1
18/03/2020                   1
19/03/2020                   1